**1. Import numpy and pandas libraries**

In [1]:
import numpy as np
import pandas as pd

In [2]:
#Test the libraries
print("Numpy version: ", np.__version__)
print("Pandas version: ", pd.__version__)

Numpy version:  1.24.1
Pandas version:  1.4.4

**2. Load datasets**

In [3]:
# Read the data
Books = pd.read_csv('dataset/bx_10370_books.csv', on_bad_lines='skip', sep=';', encoding='latin-1')
Users = pd.read_csv('dataset/bx_278860_users.csv', on_bad_lines='skip', sep=';', encoding='latin-1')
Ratings = pd.read_csv('dataset/bx_1149781_book_ratings.csv', on_bad_lines='skip', sep=';', encoding='latin-1')

I have got 'Python Pandas Error tokenizing data' before adding the following code:
**on_bad_lines='skip', sep=';', encoding='latin-1**

In [4]:
Books.head(2)

  Book-Id,Book-Title,ISBN,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Genres,Description
0  50998412,Classical Mythology,0195153448,Mark P...
1  241664.Clara_Callan,Clara Callan,0002005018,Ri...

In [5]:
Users.head(2)

   User-ID                   Location   Age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [6]:
Ratings.head(2)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5

In [7]:
Books.shape

(8847, 1)

In [8]:
Ratings.shape

(1149780, 3)

In [9]:
Users.shape

(278858, 3)

## Find out the missing variables

In [10]:
Books.isnull().sum()

Book-Id,Book-Title,ISBN,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Genres,Description    0
dtype: int64

In [11]:
Ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [12]:
Users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

## Find out the duplication(s)

In [13]:
Books.duplicated().sum()

0

In [14]:
Ratings.duplicated().sum()

0

In [15]:
Users.duplicated().sum()

0

## Popularity-Based Filtering Recommendation System:

**Here we will display the top N highest rated books ( N = number of books)**

In [16]:
Ratings

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [17]:
Books

     Book-Id,Book-Title,ISBN,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Genres,Description
0     50998412,Classical Mythology,0195153448,Mark P...
1     241664.Clara_Callan,Clara Callan,0002005018,Ri...
2     1508654.Decision_in_Normandy,Decision in Norma...
3     763331.Flu,Flu: The Story of the Great Influen...
4     12557.The_Kitchen_God_s_Wife,The Kitchen God's...
...                                                 ...
8842  228630.Black_Boy,Black Boy (American Hunger : ...
8843  266862.To_Afghanistan_and_Back,To Afghanistan ...
8844  359191.The_Tick,The Tick: Mighty Blue Justice!...
8845  2040531.Pooh_s_Workout_Book,Pooh's Workout Boo...
8846  18957.The_Corner,The Corner : A Year in the Li...

[8847 rows x 1 columns]

In [18]:
name_ratings = pd.merge(Books, Ratings, on='ISBN')
number_ratings_df = name_ratings.groupby('Book-Title').count()['Book-Rating'].reset_index()
number_ratings_df.rename(columns={'Book-Rating': 'Number-of-Ratings'}, inplace=True)

KeyError: 'ISBN'

In [ ]:
number_ratings_df

                                               Book-Title  Number-of-Ratings
0        A Light in the Storm: The Civil War Diary of ...                  4
1                                   Always Have Popsicles                  1
2                    Apple Magic (The Collector's series)                  1
3        Ask Lily (Young Women of Faith: Lily Series, ...                  1
4        Beyond IBM: Leadership Marketing and Finance ...                  1
...                                                   ...                ...
241066                                  ï¿½?ï¿½?lpiraten.                  2
241067                 ï¿½?ï¿½?rger mit Produkt X. Roman.                  4
241068                            ï¿½?ï¿½?sterlich leben.                  1
241069                          ï¿½?ï¿½?stlich der Berge.                  3
241070                              ï¿½?ï¿½?thique en toc                  2

[241071 rows x 2 columns]

In [ ]:
average_rating_df = name_ratings.groupby('Book-Title').mean()['Book-Rating'].reset_index()
average_rating_df.rename(columns={'Book-Rating': 'Average-Rating'}, inplace=True)

C:\Users\almud\AppData\Local\Temp\ipykernel_12260\3743345720.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  average_rating_df = name_ratings.groupby('Book-Title').mean()['Book-Rating'].reset_index()

In [ ]:
average_rating_df

                                               Book-Title  Average-Rating
0        A Light in the Storm: The Civil War Diary of ...        2.250000
1                                   Always Have Popsicles        0.000000
2                    Apple Magic (The Collector's series)        0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...        8.000000
4        Beyond IBM: Leadership Marketing and Finance ...        0.000000
...                                                   ...             ...
241066                                  ï¿½?ï¿½?lpiraten.        0.000000
241067                 ï¿½?ï¿½?rger mit Produkt X. Roman.        5.250000
241068                            ï¿½?ï¿½?sterlich leben.        7.000000
241069                          ï¿½?ï¿½?stlich der Berge.        2.666667
241070                              ï¿½?ï¿½?thique en toc        4.000000

[241071 rows x 2 columns]

In [ ]:
popularity_df = pd.merge(number_ratings_df, average_rating_df, on='Book-Title')

In [ ]:
popularity_df

,Book-Title,Number-of-Ratings,Average-Rating
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241066,ï¿½?ï¿½?lpiraten.,2,0.000000
241067,ï¿½?ï¿½?rger mit Produkt X. Roman.,4,5.250000
241068,ï¿½?ï¿½?sterlich leben.,1,7.000000
241069,ï¿½?ï¿½?stlich der Berge.,3,2.666667
241070,ï¿½?ï¿½?thique en toc,2,4.000000

In [ ]:
popularity_df.sort_values('Average-Rating', ascending=False)

,Book-Title,Number-of-Ratings,Average-Rating
66223,Film Is: The International Free Cinema,1,10.0
123125,More Secrets of Happy Children: Embrace Your P...,1,10.0
96558,Jo's Boys : From the Original Publisher,1,10.0
212107,The Vanished Priestess : An Annie Szabo Mystery,1,10.0
72503,Game and Hunting,1,10.0
...,...,...,...
93628,Invaders of the Planet Earth (Choose Your Own ...,1,0.0
154021,Sammy Discovers the Alphabet (Learn-With-Sammy),1,0.0
154019,Sammy Carducci's Guide to Women,2,0.0
154018,Sammle mir Kiesel am Fluï¿½?ï¿½?. Mehr als ein...,1,0.0
171214,TRAVELLING MAN,1,0.0

**Take the books that have rated 250 or more**

In [ ]:
popularity_df = popularity_df[popularity_df['Number-of-Ratings']>=250]

In [ ]:
popularity_df

,Book-Title,Number-of-Ratings,Average-Rating
764,1984,284,4.454225
818,1st to Die: A Novel,509,3.575639
1048,2nd Chance,356,3.269663
1760,A Bend in the Road,346,3.364162
2281,"A Child Called \It\"": One Child's Courage to S...",265,4.086792
...,...,...,...
233850,White Oleander : A Novel,387,3.506460
233851,White Oleander : A Novel (Oprah's Book Club),356,3.772472
234740,Wicked: The Life and Times of the Wicked Witch...,326,3.766871
234951,Wild Animus,2502,1.019584
240860,"\O\"" Is for Outlaw""",269,2.988848

In [ ]:
popularity_df = popularity_df.sort_values('Average-Rating', ascending=False)

In [ ]:
popularity_df

,Book-Title,Number-of-Ratings,Average-Rating
80434,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804
80422,Harry Potter and the Goblet of Fire (Book 4),387,5.824289
80441,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410
80426,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441
80414,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453
...,...,...,...
227701,Vinegar Hill (Oprah's Book Club (Paperback)),265,2.245283
233635,Whispers,286,2.199301
143377,Presumed Innocent,294,2.139456
94382,Isle of Dogs,288,2.000000
234951,Wild Animus,2502,1.019584

In [ ]:
popularity_df

,Book-Title,Number-of-Ratings,Average-Rating
80434,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804
80422,Harry Potter and the Goblet of Fire (Book 4),387,5.824289
80441,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410
80426,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441
80414,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453
...,...,...,...
227701,Vinegar Hill (Oprah's Book Club (Paperback)),265,2.245283
233635,Whispers,286,2.199301
143377,Presumed Innocent,294,2.139456
94382,Isle of Dogs,288,2.000000
234951,Wild Animus,2502,1.019584

**Display the full info for the most popular books**

In [ ]:
popularity_df = popularity_df.merge(Books, on='Book-Title').drop_duplicates('Book-Title')

In [ ]:
popularity_df

,Book-Title,Number-of-Ratings,Average-Rating,ISBN,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,0439136350,J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...
3,Harry Potter and the Goblet of Fire (Book 4),387,5.824289,0439139597,J. K. Rowling,2000,Scholastic,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...
5,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410,0590353403,J. K. Rowling,1998,Scholastic,http://images.amazon.com/images/P/0590353403.0...,http://images.amazon.com/images/P/0590353403.0...,http://images.amazon.com/images/P/0590353403.0...
9,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441,043935806X,J. K. Rowling,2003,Scholastic,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...
13,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453,0439064872,J. K. Rowling,2000,Scholastic,http://images.amazon.com/images/P/0439064872.0...,http://images.amazon.com/images/P/0439064872.0...,http://images.amazon.com/images/P/0439064872.0...
...,...,...,...,...,...,...,...,...,...,...
716,Vinegar Hill (Oprah's Book Club (Paperback)),265,2.245283,0380730138,A. Manette Ansay,1998,Perennial,http://images.amazon.com/images/P/0380730138.0...,http://images.amazon.com/images/P/0380730138.0...,http://images.amazon.com/images/P/0380730138.0...
717,Whispers,286,2.199301,0440216745,BELVA PLAIN,1994,Dell,http://images.amazon.com/images/P/0440216745.0...,http://images.amazon.com/images/P/0440216745.0...,http://images.amazon.com/images/P/0440216745.0...
727,Presumed Innocent,294,2.139456,0446359866,Scott Turow,1989,Warner Books,http://images.amazon.com/images/P/0446359866.0...,http://images.amazon.com/images/P/0446359866.0...,http://images.amazon.com/images/P/0446359866.0...
733,Isle of Dogs,288,2.000000,0425182908,Patricia Cornwell,2002,Berkley Publishing Group,http://images.amazon.com/images/P/0425182908.0...,http://images.amazon.com/images/P/0425182908.0...,http://images.amazon.com/images/P/0425182908.0...
739,Wild Animus,2502,1.019584,0971880107,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...

**The variables that we are going to use in the recommendation:**

In [ ]:
#ISBN,
# Book-Title, 
# Book-Author,
# Number-of-Ratings,
# Average-Rating,
# Image-URL-S, 
# Image-URL-M, 
# Image-URL-L

In [ ]:
popularity_df = popularity_df[['ISBN','Book-Title', 'Book-Author', 'Number-of-Ratings', 'Average-Rating', 'Image-URL-S', 'Image-URL-M', 'Image-URL-L']]

In [ ]:
popularity_df

,ISBN,Book-Title,Book-Author,Number-of-Ratings,Average-Rating,Image-URL-S,Image-URL-M,Image-URL-L
0,0439136350,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,428,5.852804,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...
3,0439139597,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,387,5.824289,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...
5,0590353403,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,278,5.737410,http://images.amazon.com/images/P/0590353403.0...,http://images.amazon.com/images/P/0590353403.0...,http://images.amazon.com/images/P/0590353403.0...
9,043935806X,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,347,5.501441,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...
13,0439064872,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,556,5.183453,http://images.amazon.com/images/P/0439064872.0...,http://images.amazon.com/images/P/0439064872.0...,http://images.amazon.com/images/P/0439064872.0...
...,...,...,...,...,...,...,...,...
716,0380730138,Vinegar Hill (Oprah's Book Club (Paperback)),A. Manette Ansay,265,2.245283,http://images.amazon.com/images/P/0380730138.0...,http://images.amazon.com/images/P/0380730138.0...,http://images.amazon.com/images/P/0380730138.0...
717,0440216745,Whispers,BELVA PLAIN,286,2.199301,http://images.amazon.com/images/P/0440216745.0...,http://images.amazon.com/images/P/0440216745.0...,http://images.amazon.com/images/P/0440216745.0...
727,0446359866,Presumed Innocent,Scott Turow,294,2.139456,http://images.amazon.com/images/P/0446359866.0...,http://images.amazon.com/images/P/0446359866.0...,http://images.amazon.com/images/P/0446359866.0...
733,0425182908,Isle of Dogs,Patricia Cornwell,288,2.000000,http://images.amazon.com/images/P/0425182908.0...,http://images.amazon.com/images/P/0425182908.0...,http://images.amazon.com/images/P/0425182908.0...
739,0971880107,Wild Animus,Rich Shapero,2502,1.019584,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...

### We have above the most popular 186 books based on popularity

In [ ]:
def recommend_most_popular_books(num):
    return popularity_df.head(num)

In [ ]:
#Let's get the first 10 highest rated books with at least 250 ratings
recommend_most_popular_books(10)

,ISBN,Book-Title,Book-Author,Number-of-Ratings,Average-Rating,Image-URL-S,Image-URL-M,Image-URL-L
0,0439136350,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,428,5.852804,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...
3,0439139597,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,387,5.824289,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...
5,0590353403,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,278,5.737410,http://images.amazon.com/images/P/0590353403.0...,http://images.amazon.com/images/P/0590353403.0...,http://images.amazon.com/images/P/0590353403.0...
9,043935806X,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,347,5.501441,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...
13,0439064872,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,556,5.183453,http://images.amazon.com/images/P/0439064872.0...,http://images.amazon.com/images/P/0439064872.0...,http://images.amazon.com/images/P/0439064872.0...
16,0345339681,The Hobbit : The Enchanting Prelude to The Lor...,J.R.R. TOLKIEN,281,5.007117,http://images.amazon.com/images/P/0345339681.0...,http://images.amazon.com/images/P/0345339681.0...,http://images.amazon.com/images/P/0345339681.0...
17,0345339703,The Fellowship of the Ring (The Lord of the Ri...,J.R.R. TOLKIEN,368,4.948370,http://images.amazon.com/images/P/0345339703.0...,http://images.amazon.com/images/P/0345339703.0...,http://images.amazon.com/images/P/0345339703.0...
26,059035342X,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,575,4.895652,http://images.amazon.com/images/P/059035342X.0...,http://images.amazon.com/images/P/059035342X.0...,http://images.amazon.com/images/P/059035342X.0...
28,0345339711,"The Two Towers (The Lord of the Rings, Part 2)",J.R.R. TOLKIEN,260,4.880769,http://images.amazon.com/images/P/0345339711.0...,http://images.amazon.com/images/P/0345339711.0...,http://images.amazon.com/images/P/0345339711.0...
39,0446310786,To Kill a Mockingbird,Harper Lee,510,4.700000,http://images.amazon.com/images/P/0446310786.0...,http://images.amazon.com/images/P/0446310786.0...,http://images.amazon.com/images/P/0446310786.0...